body {
    padding-top: 5rem;
    padding-left: 2rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

h1 {
    color: #0000FF;
}

h2 {
    color: #FF0000;
}

a {
    color: #1e7217;
    padding-left: 2rem;
}

