<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="ISO-8859-1">
    <title>Car list</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

<h3><a th:href="@{carlist}">Car list</a></h3>
<h3><a th:href="@{basket}">Basket</a></h3>
<h3><a th:href="@{history}">History</a></h3>
<br>

<div class="container-fluid">
    <table class="table">
        <thead>
        <tr class="d-flex">
            <th scope="col" class="col-1"> id</th>
            <th scope="col" class="col-1"> name</th>
            <th scope="col" class="col-1"> price</th>
            <th scope="col" class="col-2"> image</th>
            <th scope="col" class="col-1"> action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${cars.empty}">
            <td class="col-1" colspan="2"> No Available</td>
        </tr>
        <tr scope="row" th:each="car : ${cars}" class="d-flex">
            <form action="#" th:action="@{/carlist}" method="post">
                <td class="col-1"><span th:text="${car.id}" th:field="*{id}"> ID </span></td>
                <td class="col-1"><span th:text="${car.name}"> Name </span></td>
                <td class="col-1"><span th:text="${car.price}"> Price </span></td>
                <td class="col-2"><img th:src="@{${car.imagePath}}" height="100"/></td>
                <td class="col-1"><input type="hidden" name="car_id" th:value="${car.id}"/>
                    <button type="submit" class="btn btn-success">Add to basket</button>
                </td>
            </form>
        </tr>

        </tbody>
    </table>
</div>

<script src="/webjars/jquery/3.4.1/jquery.js"></script>
<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>

</html>