<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="ISO-8859-1">
    <title>My app</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

<p>Hello world!</p>
<p>Current time is <span th:text="${serverTime}"/></p>
<a th:href="@{welcome}">Welcome</a>

<table class="table">
    <thead>
    <tr>
        <th scope="col"> id</th>
        <th scope="col"> name</th>
        <th scope="col"> age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${people.empty}">
        <td colspan="2"> No People Available</td>
    </tr>
    <tr scope="row" th:each="person : ${people}">
        <td><span th:text="${person.id}"> id </span></td>
        <td><span th:text="${person.name}"> name </span></td>
        <td><span th:text="${person.age}"> age </span></td>
        <td><img th:src="@{${person.imageName}}" height="100"/></td>
    </tr>

    </tbody>
</table>

<!--<form action="#" th:action="@{/}" th:object="${person}"-->
<!--      method="post">-->
<!--  <fieldset>-->
<!--    <input type="submit" id="submitButton" th:value="Save">-->
<!--    <input type="reset" id="resetButton" name="reset" th:value="Reset"/>-->

<!--    <p><input type="text" th:field="*{id}"/></p>-->
<!--    <p><input type="text" th:field="*{age}"/></p>-->
<!--    <p><input type="text" th:field="*{name}"/></p>-->
<!--  </fieldset>-->
<!--</form>-->

<div class="container">
    <form action="#" th:action="@{/}" th:object="${person}"
          method="post">
        <div class="form-group">
            <label for="tstid">id:</label>
            <input type="text" th:attr="disabled=true" class="form-control" th:field="*{id}" id="tstid"
                   placeholder="enter id"/>
        </div>
        <div class="form-group">
            <label for="age">age:</label>
            <input type="text" class="form-control" th:field="*{age}" id="age" placeholder="enter age"/>
        </div>
        <div class="form-group">
            <label for="name">id:</label>
            <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="enter name"/>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Remember me
            </label>
        </div>
        <button type="submit" th:value="Save" class="btn btn-primary">Submit</button>
    </form>

</div>

    <script src="/webjars/jquery/3.4.1/jquery.js"></script>
    <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>

</html>